* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgba(0, 0, 0, 0.75);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#workspaces button {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}
#workspaces button.active {
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0);
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: rgba(0, 0, 0, 0);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#wireplumber,
#tray,
#mode,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-family: Roboto;
}


label:focus {
    background-color: #000000;
}

#wireplumber {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
}

#wireplumber.muted {
    background-color: rgba(0, 0, 0, 0);
}

#tray {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(0, 0, 0, 0);
}

#mpd {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
}

#mpd.disconnected {
    background-color: rgba(0, 0, 0, 0);
}

#mpd.stopped {
    background-color: rgba(0, 0, 0, 0);
}

#mpd.paused {
    background-color: rgba(0, 0, 0, 0);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}
